@import '../../variables.scss';

.form {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    width: 100%
  }

  &__input {
    background-color: $white;
    font-size: 18px;
    color: $very-dark-gray;
    padding: 1rem 1.25rem;
    width: 30vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;

    @media only screen and (max-width: 375px) {
      width: 75%!important;
    }

    @media only screen and (max-width: 768px) {
      width: 45%;
    }

    &:focus, &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: $dark-gray;

      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

  }
  

  &__button {
    background-color: #2b2b2b;
    border: none;
    font-size: 18px;
    padding: 1rem 1.25rem;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
  }
}