@import '../../variables.scss';

.form {

  &__input {
    background-color: $white;
    font-size: 18px;
    color: $very-dark-gray;
    padding: 1.25rem;
    width: 30vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
  }

  &::placeholder {
    color: $dark-gray;
  }
}