@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');

// colours:
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$white: white;

// fonts:
$font-family: 'Rubik', sans-serif;